<br>
<div id="container">
  <h1>Todos</h1>

  <input type="text" id="todo" placeholder="Clean the kitchen">
  <input type="submit" id="submit" value="add">

  <ul id="todos">
    <li class="todo">Learn JavaScript <span class="delete">X</span></li>
  </ul>

  <div id="count-wrapper">
    <h3>Tasks left todo:</h3>
    <p id="count">1</p>
  </div>
</div>

<!-- <table>
  <tr>
    <th>Todo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lists.each do |list| %>
  <tr>
    <td><%= list.todo %></td>
    <td><%= link_to 'Show', list %></td>
    <td><%= link_to 'Edit', edit_list_path(list) %></td>
    <td><%= link_to 'Destroy', list, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New List', new_list_path %> -->
